name: Lint

on:
  pull_request:
  push:
    tags:
      - v*
    branches:
      - master

jobs:
  lint:
    strategy:
      matrix:
        go: ['1.22', '1.21', '1.20', '1.19', '1.18']
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}

      - name: Lint
        uses: golangci/golangci-lint-action@v4
        with:
          version: latest
          args: --skip-dirs=integration-test
